<div class="modal fade" id="create_product" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить продукт</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="alert alert-danger d-none" role="alert"></div>
      <form action="{%url 'create_product_form'%}" method="post" id="form_create_product">
      <div class="modal-body">
          {{ create_product }}
          {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Вход</button>
      </div>
      </form>
    </div>
  </div>
</div>